{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicules disponibles</h1>
    {% for vehicule in vehicules %}
        <h2>{{ vehicule.titre }}</h2>
        <img class="imageIndex" src="{{ asset( vehicule.photo ) }}" alt="image voiture">
        <p>{{ vehicule.description }}</p>
        <p>{{ vehicule.prixJournalier }}€ / {{ vehicule.marque }}</p>
        <a href="{{ path('app_reservation', {'id': vehicule.id}) }}" class="btn btn-success">Voire l'offre</a>
        <hr>
    {% endfor %}
    {% if vehicules is empty %}
        <p>Aucun véhicule n'est disponible pour vos date s de réservations</p>
    {% endif %}
{% endblock %}
